Django==5.1.7
djangorestframework==3.15.2
django-cors-headers==4.6.0
pandas==2.2.3
numpy==2.2.3
lightgbm==4.5.0
joblib==1.4.2
openpyxl==3.1.5
plotly==5.24.1
scikit-learn==1.6.1
scipy==1.15.1
xgboost==2.1.4
gunicorn==25.1.0